.van-icon-zhibofuwu:before { content: "\e658"; }

.van-icon-xinwenzhongxin:before { content: "\e659"; }

.van-icon-yonghuguanli:before { content: "\e65a"; }

.van-icon-meiziguanli:before { content: "\e65d"; }

.van-icon-jiankanfuwu:before { content: "\e65e"; }

.van-icon-minganciku:before { content: "\e65f"; }

.van-icon-zhihuizhongxin:before { content: "\e660"; }

.van-icon-zijinguanli:before { content: "\e661"; }

.van-icon-quanxianxitong:before { content: "\e662"; }

.van-icon-dashuju:before { content: "\e666"; }

.van-icon-yonghu:before { content: "\e667"; }

.van-icon-xiaoxi:before { content: "\e668"; }

.van-icon-shangcheng:before { content: "\e669"; }

.van-icon-shezhi:before { content: "\e66a"; }

.van-icon-yulan:before { content: "\e66b"; }

.van-icon-sousuo:before { content: "\e66c"; }

.van-icon-tianjia:before { content: "\e66d"; }

.van-icon-dianhua:before { content: "\e66e"; }

.van-icon-shoucang:before { content: "\e66f"; }

.van-icon-home:before { content: "\e670"; }

.van-icon-weizhi:before { content: "\e672"; }

.van-icon-tupian:before { content: "\e674"; }